.createListPU{
    display: block;
    
}

#subCreateListPU{

    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;    

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;

    background: rgba(0,0,0,0.5);

}

.createListPUBox{

    height: 15%;
    width: 25%;

    position: relative;

    background-color: whitesmoke;
    padding: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
}

#createListButton{
    background-color: red;
    color: white;

    font-size: medium;
    font-weight: 500;

    width: 90px;
    height: 50px;

    position: absolute;
    left: 10%;
    bottom: 5%

}

#createListCancelButton{
    background-color: blue;
    color: white;

    font-size: medium;
    font-weight: 500;

    width: 90px;
    height: 50px;

    position: absolute;
    right: 10%;
    bottom: 5%;

    
}

#createListInputField{
    
    height: 25px;
    width: 200px;

    /* position: absolute;
    top: 15%;
    right: 30%; */
    
}